@import 'src/style/style.scss';
.bookitem {
    .img-frame {
        width: px2rem(160);
        height: px2rem(180);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            display: block;
            max-width: px2rem(180);
            max-height: px2rem(180);
        }
    }
    .desc {
        width: px2rem(380);
        height: px2rem(180);
        margin: 0 px2rem(12);
        font-size: px2rem(24);
        line-height: px2rem(35);
        .desc-name {
            font-size: px2rem(28);
            height: px2rem(70);
            line-height: px2rem(35);
            margin-bottom: px2rem(16);
            @include nLineLimit(2);
        }
        .desc-author {
            @include nLineLimit(1);
        }
    }
    .opr {
        color: $oprColor;
    }
}

.create-book {
    .desc {
        width: px2rem(460);
    }
}