@import 'src/style/style.scss';

.toolbar {
    text-align: center;
    height: px2rem(80);
    line-height: px2rem(80);
    a {
        color: $normalTxtColor;
        span {
            display: inline-block;
            width: 100%;
            height: 100%;
            font-size: px2rem(24);
        }
    }
    .active {
        color: $mainColor;
    }
}