$designWidth: 750;
$mainColor: #bb99b8;
$normalTxtColor: #666;
$normalBorderColor: #ececec;
$gapColor: #f8f8f8;
$oprColor: #1890ff;
@function px2rem( $px  ){
    @return $px*320/$designWidth/20 + rem;
}

@mixin nLineLimit($n) {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    word-break: break-all;
    -webkit-word-break: break-all;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: $n;
    -webkit-line-clamp: $n;
}
