/* 公共样式：header/sidebar/content */

html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        font-family: 'PingFangSC-Regular';
        font-size: 14px;
        overflow: hidden;
        .view {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
        }
    }
}

